html {
  text-align: center;
  font-family: helvetica;
}
a {
  color: white;
}
li {
  list-style-type: none;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  width: 100%;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
.header {
  color: white;
  list-style-type: none
  margin-bottom: 50px;
  font-size: 18px;
}

.header-background {
  background-image: url("background.png");
  background-color: transparent;
}
p {
  font-size: 14px;
}
.footer {
  color: white;
  font-size: 11px;
}
.footer ul {
  text-align: left;
  width; 100%;
  background-color: dimgray;
}
.footer li {
  color: white;
  font-size: 11px;
  display: inline;
  margin: 1px;
  background-color: dimgray;
}
.location {
  color: white;
  background-image: url("background.png")
}
